html {
  font-family: "Open Sans", sans-serif;
}

h1, h2, h3, h4, h5 h6 {
  font-family: Oswald, sans-serif;
}

body, html {
  height: 100%;
}

h1 {
  margin: 0;
}

.logotype {
  font-family: Oswald, sans-serif;
}

.current {
  background-color: #ed5259;
}

.heading-banner {
  background-image: url("../images/banner-image.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 50rem;
}

.process-banner {
  background-image: url("../images/gummy-worms.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 50rem;
}

.store-banner {
  background-image: url("../images/store-image.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 50rem;
}

fieldset {
  border: 0;
}

iframe {
  width: 100%;
}

header {
  background-color: #ff595e;
}

ul li a {
  text-decoration: none;
  color: white;
  text-align: center;
}

footer {
  background-color: #ff595e;
  color: white;
}

footer span {
  color: white;
}

.banner {
  position: relative;
  overflow: hidden;
  max-height: 24em;
}

.embed-item {
  position: absolute;
  transform: translateX(-50%);
  left: 50%;
  color: white;
  display: inline;
  top: 40%;
}

a:hover {
  color: #fde74c;
}

@media only screen and (min-width: 25em) {

  .small-box-pad {
    padding-right: 1rem;
  }

}

@media only screen and (min-width: 38em) {

  .large-box-pad {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .padleft-map {
    padding-right: 1rem;
  }

}

@media only screen and (min-width: 60em) {

  .med-box-pad {
    padding-left: 1rem;
  }

}
